html,
body {
    box-sizing: border-box;
}

h1 {
    color: red;
}
#canvas-holder {
    position: relative;
    display: inline-block;
    width: 100%;
    /* max-width: 600px; */
    height: 100%;
    box-sizing: border-box;
    border: 2px solid purple;
    background-color: rgb(167, 255, 176);
}
#tile-buttons-holder {
    pointer-events: none;
}
#drawing-board {
    position: absolute;
    box-sizing: border-box;
    border: 1px solid red;
    width: calc(0px + 100%);
    height: calc(0px + 100%);
    /* Ultimately, we might use the canvas for all mouse events, so this may change */
    /* pointer-events: none; */
}
#canvas-holder > img {
    width: 100%;
    height: auto;
}
#marquee {
    display: none;
    position: absolute;
    border: 2px dashed yellow;
    box-shadow: 0 0 0 2px black;
    pointer-events: none;
}
#marquee.on {
    display: block;
}
.tile-button {
    position: absolute;
    padding: 0;
    background-color: transparent;
    /* background-color: rgba(0,0,0,0.1); */
    /* background-color: rgba(255,255,255,0.25); */
    /* box-shadow: inset 0 0 0 1px lightskyblue; */
    /*border:  0.125px dotted orange; */
    border: 0.25px solid lightblue;
    /* box-sizing: border-box; */
}

.tile-button.obstacle {
    background-color: #555;
    background: linear-gradient(45deg, #5a5a5a, rgb(157, 144, 144), #272727);
    border: none;
}
.tile-button.waypoint {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    padding: 0.25em;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.3);
    color: yellow;
    text-shadow: 0.1em 0.1em 0 black, -0.1em -0.1em 0 black,-0.1em 0.1em 0 black, 0.1em -0.1em 0 black;
}
button.make-obstacles-on,
button#marquee-button.on {
    background-color: mediumseagreen;
}

button#add-item.waiting {
    background-color: rgb(167, 255, 176);
}

#copy-output-button {
    display: none;
}
#copy-output-button.open {
    display: inline-block;
}
#output-container {
    position: absolute;
    padding: 2em;
    background-color: #eee;
    font-family: monospace;
    border: 2px solid #222;
    overflow-y: scroll;
    box-sizing: border-box;
}
#output {
    color: #222;
    font-family: monospace;
    overflow-y: scroll;
    box-sizing: border-box;
}
#output-container.open {
    width: 100%;
    height: 100%;
    top: 0;
}
