html,
body {
    box-sizing: border-box;
}

h1 {
    color: red;
}
#canvas-holder {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 800px;
    height: 100%;
    box-sizing: border-box;
    border: 2px solid purple;
    background-color: rgb(167, 255, 176);
    overflow: hidden;

    user-select: none;
}
#tile-buttons-holder {
    pointer-events: none;
    position: absolute;
    z-index: 300;
}
#drawing-board {
    position: absolute;
    box-sizing: border-box;
    /* border: 3px solid red; */
    width: auto;
    height: auto;
    /* Ultimately, we might use the canvas for all mouse events, so this may change */
    /* pointer-events: none; */
    z-index: 200;
}

#canvas-holder > #map-img {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 100;
}
#marquee {
    display: none;
    position: absolute;
    border: 2px dashed yellow;
    box-shadow: 0 0 0 2px black;
    pointer-events: none;
}
#marquee.on {
    display: block;
}
.tile-button {
    position: absolute;
    padding: 0;
    background-color: transparent;
    /* background-color: rgba(0,0,0,0.1); */
    /* background-color: rgba(255,255,255,0.25); */
    /* box-shadow: inset 0 0 0 1px lightskyblue; */
    /*border:  0.125px dotted orange; */
    border: 0.25px solid lightblue;
    /* box-sizing: border-box; */
}

.tile-button.obstacle {
    background-color: #555;
    background: linear-gradient(45deg, #5a5a5a, rgb(157, 144, 144), #272727);
    border: none;
}
.tile-button.waypoint {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    padding: 0.25em;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.3);
    color: yellow;
    text-shadow: 0.1em 0.1em 0 black, -0.1em -0.1em 0 black,-0.1em 0.1em 0 black, 0.1em -0.1em 0 black;
}

/* SLIDER */
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
  }
  /* END SLIDER */
button.make-obstacles-on,
button#marquee-button.on {
    background-color: mediumseagreen;
}

button#add-item.waiting {
    background-color: rgb(167, 255, 176);
}

#copy-output-button {
    display: none;
}
#copy-output-button.open {
    display: inline-block;
}
#output-container {
    position: absolute;
    padding: 2em;
    background-color: #eee;
    font-family: monospace;
    border: 2px solid #222;
    overflow-y: scroll;
    box-sizing: border-box;
    z-index: 500;
}
#output {
    color: #222;
    font-family: monospace;
    overflow-y: scroll;
    box-sizing: border-box;
}
#output-container.open {
    width: 100%;
    height: 100%;
    top: 0;
}
